manifest {
    author = 'Keiler Collier'
    description = 'NextFlow script designed to map and call variants from short-read (Illumina or Illumina-like) data and a provided reference.'
    mainScript = 'OikosMap.nf'
    name = 'OikosMap'
    nextflowVersion = '>=25.0.0' //this is the version of NextFlow I initially developed the pipeline on. It might work for others.
    version = '1.0.0'
}

params {
// Params for upper-resource limits:
    mac_cpus = Runtime.runtime.availableProcessors()
    totalMemoryGB = Runtime.runtime.maxMemory() / 1024 / 1024 / 1024 
    memoryToUseGB = (totalMemoryGB * 0.8).round(2)

//input params
    help = false
    indlist = null
    indir = null
    refseq = null 
    threads = max_cpus/2
    prefix = out
}

process {
    resourceLimits = [ cpus: params.max_cpus, memory: params.memoryToUseGB, time: 72.h ]
}

conda.enabled = true
report.overwrite = true